:root {
  /* TODO Update temporary colors */
  --primary: #060e85;
  --accent: #b3ff00;
  --red: #d34d71;

  --section-border: var(--color-gray-100);
  --navLink-border-color: var(--color-gray-200);
  --navLink-border-color-hover: var(--primary);
}
